<div class="photo_item_container">
  <div class="image_item_description_container">
    <div class="image_item_albumId">
      <p class="image_item_description">Album Id:</p>
      <p class="image_item">{{ photoData.albumId }}</p>
    </div>
    <div class="margin">
      <p class="image_item_description">Image Id:</p>
      <p class="image_item">{{ photoData.id }}</p>
    </div>
    <div class="margin">
      <p class="image_item_description">Image title:</p>
      <p>{{ photoData.title }}</p>
    </div>
  </div>
  <div class="image_container">
    <img class="image" [src]="photoData.thumbnailUrl" alt="picture" />
  </div>
</div>
