.photo_item_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(to right,#B621FE, #1FD1F9
    );
}

.photo_item_container:hover {
    background: linear-gradient(to right,#1FD1F9, #B621FE)
}

p {
    color:white;
}

.image_item_description_container {
    display: flex;
}

.image_item_description_container > *{
    margin-left: 5px;
}

.image_item_description {
 margin-top: 0px;
 margin-bottom: 0px;
}

@media screen and (max-width: 678px) {
    .image_item{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 491px) {
    .image_item {
      width: 70px;
      height: 70px;
    }
    .image{
      width: 70px;
      height: 70px;
    }
}


@media only screen and (max-width: 397px){
    .photo_item_container{
        display: flex;
        flex-direction: column;
    }
    .image_item_description_container{
        display: flex;
        flex-direction: column;
    }
    p {
        display: inline;
    }

    .image_item {
        width: 100px;
        height: 100px;
    }

    .image{
        width: 100px;
        height: 100px;
      }

    .ma {
        margin-top:10px;
    }

}