.btn {
  padding: 10px;
  width: 100px;
  color: white;
  background-color: #24a0ed;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  background: linear-gradient(to right, #24a0ed, #83c4ed);
}
