<div class="form-container">
  <div class="form">
    <div>
      <input
        type="text"
        placeholder="Enter your username"
        required
        autocomplete="off"
        #username
      />
      <input
        type="password"
        placeholder="Password"
        style="margin-top: 10px"
        required
        autocomplete="off"
        #password
      />
    </div>
    <div>
      <Button class="submitButton" (click)="submit()">
        {{ submitFormText }}
      </Button>
      <Button class="changeLogInLogOutButton" (click)="toggleDisplay()">
        {{ changeSignInOrSignUpText }}
      </Button>
    </div>
  </div>
</div>
